<div class="container">        
  <%= link_to 'このページへジャンプ', @uri,  class: "btn btn-primary"%> 
  <%= link_to '戻る', :back, class: "btn btn-default"%>
  <div class="thumbnail">
    <div class="center-block" style="width:90%;">
      <%== @doc %> 
    </div>
  </div>
</div>
